*{
    font-family:"Lato", sans-serif;
    margin: 0px;
    box-sizing: border-box;
    
}
h1, h2, h3 {
    font-family: 'Quattrocento', serif;
    }
h2, h3{
    margin:10px;
    padding: 0px;
}
body{
    background-color: #fefae0;
}
header{
    background-image: url('./pine-needles.jpg');
    min-height: 500px;
}
nav{
    display: flex;
    background-color: #283618;
    padding: 5px 60px;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    color: #fefae0;
}
nav div{
    float: right;
}
nav a {
    margin: 0px 10px;
}
a{
    color: #fefae0;
    text-decoration: none;
}
main{
padding: 40px 60px;
}

section{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
}
.row{ 
display: flex;
flex-direction: row;
justify-content: space-between;
/* flex-wrap: wrap; */
width: 100%;
}

.column{
    min-width: 30%;
    max-width: 100%;
    margin: 10px;
}
p{
    margin-bottom: 10px;
    line-height: 1.5;
    /* padding: 5px; */
}
.self-portrait{
    max-width: 250px;
    /* margin-left: 40px; */
}

.item1{
    position: relative;
    width:100%;
    min-height: 500px;
    background-image: url('./horiseon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
}
.item2{
    position: relative;
    width: 49%;
    min-height: 400px;
    background-image: url('./prework2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.item3{
    position: relative;
    width: 49%;
    min-height: 400px;
    background-image: url('./nbm\ logo\ .jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.project-title {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: #606c38;
    padding: 20px;
    text-align: center;
}
.link-buttons{
background-color: #283618;
padding: 8px 12px;
text-align: center;

}
.resume-link{
    color: #283618;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
   section{
    padding: 0px;
   }
    .row{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .item1{
        min-height: 300px;
        width: auto;
    }
    .item2, .item3{
        min-height: 200px;
        width: auto;
    }
    .link-buttons{
        width: 50%;
    }

    }

@media screen and (max-width: 800px){
    nav{
        display: flex;
        flex-direction: column;
    }
    .link-buttons{
        width: auto;
    }

    }
@media screen and (max-width: 540px){
    .navlinks{
        display: flex;
        flex-direction: column;
    }
    h1{
        margin-bottom: 20px;
    }
    nav a{
        margin-bottom: 10px;
    }
    header {
        min-height: 350px;
    }
    .column p {
        margin: auto;
    }
    .project-title{
        padding: 10px;
    }
}
@media screen and (max-width:400px){
    .self-portrait{
        max-width: 150px;
    } 
    
}