*{
    font-family:"Lato", sans-serif;
    margin: 0px;
    box-sizing: border-box;
    
}
h1, h2 {
    font-family: 'Quattrocento', serif;
    }
h2, h3, h4{
    margin-bottom: 20px;
}
body{
    background-color: #fefae0;
}
header{
    background-image: url('./pine-needles.jpg');
    min-height: 500px;
}
nav{
    display: flex;
    background-color: #283618;
    padding: 5px 60px;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    color: #fefae0;
}
nav div{
    float: right;
}
nav a {
    margin: 0px 10px;
}
main{
padding: 40px 60px;

}
section{
    display: flex;
    flex-direction: column;
    border: 2px solid #bc6c25;
    margin: 20px auto;
    padding: 20px;
}
.row{ 
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
width: 100%;
}

.column{
    border: 1px solid #283618;
    padding: 10px;
    min-width: 20%;
    max-width: 75%;
    /* text-align: center; */
}
p{
    margin-bottom: 10px;
    line-height: 1.5;
}
img{
    max-width: 250px;
    /* margin-left: 40px; */
}
.project-title{
    max-width: 33%;
}
.project-title2{
    max-width: 60%;

}
.item1{
    min-width:66%;
    min-height: 500px;
    background-image: url('./horiseon.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    /* background-position:top left; */
}
.item2{
    min-width:40%;
    min-height: 300px;
    background-image: url(./prework2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    opacity: 80%;
    /* background-position:top left; */
}
.item3{
    min-width:25%;
    background-image: url(./nbm\ logo\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 80%;
    /* background-position:top left; */
}
