:root{
    --dark-green: #283618;
    --light-green: #606c38;
    --light: #fefae0;
}
*{
    font-family:"Lato", sans-serif;
    margin: 0px;
    box-sizing: border-box;
}
h1, h2, h3 {
    font-family: 'Quattrocento', serif;
}
h2, h3{
    margin:10px;
    padding: 0px;
}
body{
    background-color: var(--light);
}
header{
    background-image: url('./images/pine-needles.jpg');
    min-height: 500px;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    background-color: var(--dark-green);
    padding: 10px 60px;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
    /*fixed nav styles from w3 schools*/
}
nav div{
    float: right;
}
nav a {
    margin: 0px 10px;
}
a{
    color: var(--light);
    text-decoration: none;
}
main{
padding: 40px 60px;
}
section{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
}
.row{ 
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
}
.column{
    min-width: 30%;
    max-width: 100%;
    margin: 10px;
}
p{
    margin-bottom: 10px;
    line-height: 1.5;
    
}
.self-portrait{
    max-width: 250px;
    
}
.item1{
    position: relative;
    width:100%;
    min-height: 500px;
    background-image: url('./images/horiseon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
}
.item2{
    position: relative;
    width: 49%;
    min-height: 400px;
    background-image: url('./images/prework2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.item3{
    position: relative;
    width: 49%;
    min-height: 400px;
    background-image: url('./images/nbm\ logo\ .jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.project-title {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: var(--light-green);
    padding: 20px;
    text-align: center;
}
.link-buttons{
background-color: var(--dark-green);
padding: 8px 12px;
text-align: center;
border-radius: 5px;
}
.resume-link{
    color: var(--dark-green);
    text-decoration: underline;
}
footer{
    min-height: 80px;
    background-color: var(--dark-green);
}

@media screen and (max-width: 1000px) {
    section{
    padding: 0px;
    }
    .row{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .item1{
        min-height: 300px;
        width: auto;
    }
    .item2, .item3{
        min-height: 200px;
        width: auto;
    }
    .link-buttons{
        width: 50%;
    }
}

@media screen and (max-width: 800px){
    nav{
        display: flex;
        flex-direction: column;
    }
    .link-buttons{
        width: auto;
    }
    header {
        min-height: 350px;
    }
}
@media screen and (max-width: 540px){
    .navlinks{
        display: flex;
        flex-direction: column;
    }
    h1{
        margin-bottom: 20px;
    }
    nav a{
        margin-bottom: 10px;
    }
    header {
        min-height: 350px;
    }
    .column p {
        margin: auto;
    }
    .project-title{
        padding: 10px;
    }
}
@media screen and (max-width:400px){
    .self-portrait{
        max-width: 150px;
    } 
    h1{
        text-align: center;
    }
}